/* Hide number field up and down buttons */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gbc-date-picker-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}
